<a href="https://colab.research.google.com/github/mottaquikarim/PYTH2/blob/master/src/PSETS/nb/hw2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  LISTS

## LIST_MANIPULATION

### P1.PY Phone Numbers

In [9]:
"""
Phone Numbers
"""

# Parse this phone number so that a computer can process
# it. (Hint: It can't include any non-numeric
# characters.)

cell = '1.192.168.0143'

cell = cell.replace(".","")
print(cell)

11921680143



### P2.PY Basic Math Ops

In [17]:
"""
Basic Math Ops
"""

# Given the list below, assign the correct values to the variables below.
	# my_sum =
	# my_min =
	# my_max =
	# my_range =
	# my_mean =

import statistics as s

nums = [2, 19, 20, 12, 6, 24, 8, 30, 28, 25]



# Once you finish, print out each value **on its own line** in this format: "my_median = " etc.

import statistics as s

nums = [2, 19, 20, 12, 6, 24, 8, 30, 28, 25]

# Given the list below, assign the correct values to the variables below.
	# my_sum =
	# my_min =
	# my_max =
	# my_range =
	# my_mean =
my_sum = sum(nums)
my_min = min(nums)
my_max = max(nums)
my_range = my_max - my_min
my_mean = s.mean(nums)

# Once you finish, print out each value **on its own line** in this format: "my_median = " etc.
print("my_sum =", my_sum)
print("my_min =", my_min)
print("my_max =", my_max)
print("my_range =", my_range)
print("my_mean =", my_mean)

my_sum = 174
my_min = 2
my_max = 30
my_range = 28
my_mean = 17.4



### P3.PY Merge Lists with Duplicates

In [28]:
"""
Merge Lists with Duplicates
"""

# Use the two lists below to solve this problem. Print out the result from each section as you go along.

list1, list2 = [2, 8, 6], [10, 4, 12]


# A) Add another instance of each item in list1 to list1 again and assign the results to list3.
list3 = list1 + list1
print("List3:", list3)

# B) Combine the two given lists and assign them to list4.
list4 = list1 + list2
print("List4:", list4)

# C) Replace the first 3 items in list 3 with the numbers 13, 16, 9.
list3 = [13, 16, 9] + list2
print("New list List3:", list3)

# D) Merge list3 and list4 to create a list containing no duplicates and store this in list5.
list5 = list(set(list3 + list4))
print("List5:", list5)


# Take a look at your printed statements to see the evolution of your lists with each step of this problem.

List3: [2, 8, 6, 2, 8, 6]
List4: [2, 8, 6, 10, 4, 12]
New list List3: [13, 16, 9, 10, 4, 12]
List5: [2, 4, 6, 8, 9, 10, 12, 13, 16]



### P4.PY Spotify Playlists - Sorting

In [33]:
"""
Spotify Playlists - Sorting
"""

# You work for Spotify and are creating a feature for users to alphabetize their playlists by song title. Below is a list of titles from a sample playlist.

playlist_titles = ['Tiny Dancer', 'At Last', 'Fortunate Son',
'Hey Jude', 'Isn\'t She Lovely', 'Just the Way You Are', 'I\'m Yours',
'Vienna', 'Roxanne', 'Dancing in the Moonlight']

# Alphabetize these songs and print the result.

alphabetize_song_list = sorted(playlist_titles)
print(alphabetize_song_list)


# Now do the reverse.

reverse_alphabetize_song_list = sorted(playlist_titles, reverse = True)
print(reverse_alphabetize_song_list)

['At Last', 'Dancing in the Moonlight', 'Fortunate Son', 'Hey Jude', "I'm Yours", "Isn't She Lovely", 'Just the Way You Are', 'Roxanne', 'Tiny Dancer', 'Vienna']
['Vienna', 'Tiny Dancer', 'Roxanne', 'Just the Way You Are', "Isn't She Lovely", "I'm Yours", 'Hey Jude', 'Fortunate Son', 'Dancing in the Moonlight', 'At Last']



### P5.PY Cool Runnings!

In [53]:
from os import replace
"""
Cool Runnings!
"""

# Here's a quote from the movie 'Cool Runnings'. :)

# Replace the word bobsled with "YOLO" and print the resultant list as 4 sentences (i.e. NOT a list), each on a new line.

cool_runnings = [
	'Feel', 'the', 'rhythm.',
	'Feel', 'the', 'rhyme.',
	'Get', 'on', 'up.',
	'It\'s', 'bobsled', 'time!'
]

#convert list cool_runnings to string
cool_runnings_string = ''.join(cool_runnings)

# Replace the word bobsled with "YOLO"
cool_runnings_string = cool_runnings_string.replace('bobsled','YOLO')

#split into sentences based on punctuation
cool_runnings = cool_runnings_string.split('.')

#print setnence on new line
for line in cool_runnings:
	print(line.strip())

Feeltherhythm
Feeltherhyme
Getonup
It'sYOLOtime!



## LIST_CHALLENGES

### P1.PY CHALLENGE - Extensions

In [55]:
"""
CHALLENGE - Extensions
"""

# ** Challenge** Add each element of the tuple1 to list1 *individually* and print the result.

list1 = [6, 12, 9, 4, 10, 1]
tuple1 = [(15,3), (6,2), (1, 8)]

# add tuple1 to list1
for i in tuple1:
  list1.extend(i)

print(list1)

[6, 12, 9, 4, 10, 1, 15, 3, 6, 2, 1, 8]



### P2.PY CHALLENGE - Core Statistics Calculations

In [57]:
"""
CHALLENGE - Core Statistics Calculations
"""

# Given the sample below, find the mean, median, mode, variance, and standard deviation of this sample. Print them out separately, but in the same format as before.
	# my_median =
	# my_mode =
	# my_variance =
	# my_sd =

import statistics as s

sample = [6, 19, 20, 12, 6, 24, 8, 30, 28, 25]

my_median = s.median(sample)
my_mode = s.mode(sample)
my_variance = s.variance(sample)
my_sd = s.stdev(sample)

# Once you finish, print out each value **on its own line** in this format: "median = " etc.

print

# Print each value on its own line
print("mean =", my_mean)
print("median =", my_median)
print("mode =", my_mode)
print("var =", my_variance)
print("stdev =", my_sd)

mean = 17.4
median = 19.5
mode = 6
var = 84.17777777777778
stdev = 9.174844836714012



#  DICTS

## DICT_OPS

### P1.PY Basic Dict Concepts

In [81]:
"""
Basic Dict Concepts
"""

# A) Declare an empty dict as d1.

d1 = {}

# B) Create a dict called d2 containing the first and last names below:
# Anthony Paollelo, Ping Qiao, Enrique Alvarez, Arjun Dhir

d2 = {
    'Anthony': 'Paollelo',
    'Ping': 'Qiao',
    'Enrique': 'Alvarez',
    'Arjun': 'Dhir'}

# C) Add Allison Zhang person to d2.

d2['Allison'] = 'Zhang'

# D) How many people are now in d2? Print out all their *first* names in the vars below.

### num_people =
num_people = len(d2)
print("the number of people in d2 is:", num_people)
### first_names =
first_names = list(d2.keys())

# E) Delete a random person from d2 and print his/her name in the var below.

### x =

import random

# identify random person
random_person = random.choice(list(d2.keys()))

# store the first and last names of the person to be deleted
deleted_first_name = random_person
deleted_last_name = d2[random_person]

# delete the random person
del d2[random_person]

x = random_person

print(x)

# F) Re-add the name you deleted to the end of d2.
d2[deleted_first_name] = deleted_last_name

# Get name from 'x'
name = d2[x]

# Re-add the person to the dictionary
d2[x] = name

print(d2)

the number of people in d2 is: 5
Allison
{'Anthony': 'Paollelo', 'Ping': 'Qiao', 'Enrique': 'Alvarez', 'Arjun': 'Dhir', 'Allison': 'Zhang'}



### P2.PY Merging Dicts

In [82]:
"""
Merging Dicts
"""

# Merge these two dicts without creating a new one.

d1 = {'a': 100, 'b': 200}
d2 = {'c': 300, 'd': 400, 'e': 500}

d1.update(d2)
print(d1)

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}



### P3.PY Math with Girl Scout Cookies

In [84]:
"""
Math with Girl Scout Cookies
"""

# Print out the number of boxes of girl scout cookies that each girl in the troop sold in the below format:
	# Wendy: _____
	# Connie: _____
	# Francesca: _____

Wendy = {'tagalongs': 5, 'thin mints': 12, 'samoas': 8}
Connie = {'tagalongs': 10, 'thin mints': 4, 'samoas': 12}
Francesca = {'tagalongs': 18, 'thin mints': 14, 'samoas': 10}

### salesW =
### salesC =
### salesF =

# Calculate number of cookies sold print sum
salesW = sum(Wendy.values())
salesC = sum(Connie.values())
salesF = sum(Francesca.values())

print("Wendy:", salesW)
print("Connie:", salesC)
print("Francesca:", salesF)

# For each type of girl scout cookie, print out the total number of boxes sold in the below format:
	# tagalongs: _____
	# thin mints: _____
	# samoas: _____

### total_tagalongs =
total_tagalongs = Wendy['tagalongs'] + Connie['tagalongs'] + Francesca['tagalongs']
### total_thinmints =
total_thinmints = Wendy['thin mints'] + Connie['thin mints'] + Francesca['thin mints']
### total_samoas =
total_samoas = Wendy['samoas'] + Connie['samoas'] + Francesca['samoas']

#print results
print("tagalongs:", total_tagalongs)
print("thin mints:", total_thinmints)
print("samoas:", total_samoas)


# For each type of girl scout cookie, print out the average number of boxes sold in the below format:
	# tagalongs: _____
	# thin mints: _____
	# samoas: _____

avg_tagalongs = total_tagalongs / 3  # There are 3 girls in the troop
avg_thinmints = total_thinmints / 3
avg_samoas = total_samoas / 3


### avg_tagalongs =
### avg_thinmints =
### avg_samoas =

#print results
print("avg tagalongs:", avg_tagalongs)
print("avg thin mints:", avg_thinmints)
print("avg samoas:", avg_samoas)


# Print out total the number of boxes of cookies the girls sold collectively as follows:

### boxes_sold =
boxes_sold = salesW + salesC + salesF
# "This year we sold ______ boxes!"
print("This year we sold", boxes_sold, "boxes!")

Wendy: 25
Connie: 26
Francesca: 42
tagalongs: 33
thin mints: 30
samoas: 30
avg tagalongs: 11.0
avg thin mints: 10.0
avg samoas: 10.0
This year we sold 93 boxes!



### P4.PY Inverting Keys & Values

In [ ]:
"""
Inverting Keys & Values
"""

# Invert dict1 - make the current keys into values and the current values into keys.


dict1 = { "k1" : "v1", "k2" : "v2", "k3" : "v1" }

#invert key and values
#not sure how to accomplish this



### P5.PY Lists to Dicts

In [85]:
"""
Lists to Dicts
"""

# Turn these two lists into a dict called grades.

names = ['Taq', 'Zola', 'Valerie', 'Valerie']
scores = [[98, 89, 92, 94], [86, 45, 98, 100], [100, 100, 100, 100], [76, 79, 80, 82]]

### grades =

grades = {name: score for name, score in zip(names, scores)}
print(grades)

{'Taq': [98, 89, 92, 94], 'Zola': [86, 45, 98, 100], 'Valerie': [76, 79, 80, 82]}



## SEARCH_VALIDATION

### P1.PY Login Credentials

In [99]:
"""
Login Credentials
"""

# Imagine you work for a movie streaming service. You're in charge of safeguarding user privacy by ensuring the login feature remains secure. For the sake of example only, below is the dict of user login info. Normally, you wouldn't have access to see this unencrypted of course!

users = {
	'person@email.com': 'PassWord',
	'someone@email.com': 'hiitsme',
	'me@email.com': 'myPassword',
	'anyone@email.com': 'IMawesome',
	'guy@email.com': 'pa$$wordz'
	# etc
}

# A user enters the below login info (email and password) for your app. Search your database of user logins to see if this account exists and if the password matches what you have on file. If the login credentials are correct, print "Successful login!". Otherwise, print "The login info you entered does not match any of our records."

current_user = {'me@email.com': 'myPassword'}

for email, password in current_user.items():
    if users.get(email) == password:
        print("Successful login!")
        break
else:
    print("The login info you entered does not match any of our records.")

Successful login!



## COUNTERS_CHALLENGE

### P1.PY CHALLENGE - Word Frequency

In [ ]:
"""
CHALLENGE - Word Frequency
"""

# Print out the number of words in this movie quote. Find and print out the most common word in the quote and how many times it was used.
### Hint: You do not need a loop for this. Look up the Counter docs in python3.

from collections import Counter

princess_bride = [
'Hello', 'my', 'name', 'is', 'Inigo', 'Montoya',
'You', 'killed', 'my', 'father',
'Prepare', 'to', 'die'
]

### fave_word =

# p.s. You might use this to help analyze the most common topic in comments or reviews from your users to help understand the best places to improve you product.



### P2.PY CHALLENGE - Summing Dict Values

In [ ]:
"""
CHALLENGE - Summing Dict Values
"""

# Two Kindergarten teachers poll their classes for what fruit they want to eat for snacktime tomorrow. Only one of them is going shopping, so she needs to know how many of each fruit she needs to buy in total. Tally these up and assign them to the "shopping_list" dict.

poll1 = {'apples': 8, 'bananas': 12}
poll2 = {'apples': 6, 'bananas': 6, 'clementines': 8}

### shopping_list =